<div class="home_container">
  <app-card
  gameCover="https://cdn1.epicgames.com/ff52981b1d9947978153c7a7f8bc6d90/offer/EGS_DiscoElysiumTheFinalCut_ZAUM_S6-1200x1600-486d4da970eede7364b9650d63900bad.jpg"
  gameLabel="Mudou minha vida"
  gameType="MUITO FODA"
  gamePrice="Pirateie"
  >
  </app-card>
  <app-card
  gameCover="https://cdn-products.eneba.com/resized-products/P0tth9GjLbLvn8KmgDeObVBwTI6CM678gPU0U-mB2G0_350x200_1x-0.jpeg"
  gameLabel="Melhor do PS2"
  gameType="MASSA DEMAIS"
  gamePrice="Mete no PCSX2"
  >
  </app-card>
  <app-card
  gameCover="https://p2.trrsf.com/image/fget/cf/1200/1600/middle/images.terra.com/2022/07/27/yakuza-like-a-dragon4-s1dvbkqcs2lz.jpeg"
  gameLabel="10/10"
  gameType="LITERALMENTE EU"
  gamePrice="Pague o quanto puder">
  </app-card>
</div>
